<div class="container">
  <h2>Détails du contact</h2> 
  <a href="#" routerLink="/list" class="btn btn-primary">Retour</a>
  <br> 
  <div class="form-group">
    <label>ID :</label>
    <p>{{ contact.id }}</p>
  </div>
  
  <div class="form-group">
    <label>Nom :</label>
    <p>{{ contact.nom }}</p>
  </div>
  
  <div class="form-group">
    <label>Prénom :</label>
    <p>{{ contact.prenom }}</p>
  </div>
  
  <div class="form-group">
    <label>Adresse :</label>
    <p>{{ contact.adresse }}</p>
  </div>
  
  <div class="form-group">
    <label>Email :</label>
    <p>{{ contact.email }}</p>
  </div>
  
  <div class="form-group">
    <label>Téléphone :</label>
    <p>{{ contact.telephone }}</p>
  </div>
  
  <div class="form-group">
    <label>Description :</label>
    <p>{{ contact.description }}</p>
  </div>
  
  </div>